@font-face{
    font-family: roboto;
    src: url(roboto.ttf);
}
@font-face{
    font-family: rotwel;
    src: url(rotwel.ttf);
}
@font-face{
    font-family: coffee;
    src: url(coffee.ttf);
}

html {
    scroll-behavior: smooth;
}
body {
    background: #fff;
    font-family: roboto;
    margin: 0;
    animation: 1s popup 0.1s ease-in;
}

@keyframes popup {
    0% {
      background-color: black;
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
nav {
    font-family: rotwel;
    height: 10vh;
    width: 100%;
    position: fixed;
    padding: 10px 0;
    z-index: 100;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5),0 1px 2px rgba(0,0,0,0.2);
}

.logo{
    width: 100px;
    cursor: pointer;
}
nav ul {
    position: relative;
    width: 1000px;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 1.1em;
}
nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition:0.5s;
}

nav ul li:hover::after{
    width:100%;
}

nav ul li.active a{
    color: #009688;
    position: relative;
    
    transition:0.5s; 
}
/*CONTENT*/
header {
    background: #ffff;
    height: 100vh;
    width: 100%;
    position: relative;
}

.bg {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)), url(assets/rain.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.title {
    margin-top: 10px;
    overflow: hidden;
    height: 30%;
    width: 60%;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    cursor: pointer;
    position: relative;
    
}

.waviy {
    font-family: coffee;
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 2s infinite;
    animation-delay: calc(.2s * var(--i));
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }

.content .up {
    height: 40%;
    width: 100%;
}

.content .down {
    height: 60%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

input[type="search"]{
    border-radius: 50px;
    padding: 2vh 3vh 2vh 3vh;
    outline: none;
    border: none;
    color: #333;
    width: 50%;
    height: 30%;
    font-size: 1.3em;
    opacity: 0.7;
}

.search-btn {
    float:right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paragraph {
    overflow: hidden;
    height: 70%;
    width: 50%;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.2em;
    text-align: center;
}


/* footer */

.lower{
    width: 100%;
    height: 100vh;
}

.bgf {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)), url(assets/sunset.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contentf {
    top: 60px;
    width: 90%;
    height: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.columnf {
    margin: 10px;
    width: 28%;
    height: 90%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}

.columnf:hover {
    width: 30%;
    height: 100%;
    transition: 0.2s ease-in-out;
}

.columnf:hover img {
    transform: rotate(30deg);
}
.columnf .up {
    width: 100%;
    height: 60%;
    background: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.columnf .up img{
    width: 50%;
    transition: 2s ease-in-out;
}

.columnf .mid {
    width: 100%;
    height: 10%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
}

.columnf .down {
    width: 100%;
    height: 30%;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.columnf .down p{
    width: 80%;
    height: auto;
    text-align: center;
    font-size: 14px;
}

