.navigation {
    position: relative;
    width: 400px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    position: relative;
    display: flex;
    list-style-type: none;
    width: 400px;
    justify-content:space-between;
}

.navigation ul li a {
    text-decoration: none;
}

.navigation ul li.active a {
    color: blue;
    text-decoration: underline;
    animation: 0.2s ease-in-out;
}